
/* Estilo geral */
body{
	text-align: justify;
	background-color: #BEBEBE;
	color: white;
	font-family: 'Open Sans', sans-serif; 
}

a{ 
	text-decoration: none;
	color: white;
 }

 a:hover{
	color: #BEBEBE;
	transition: 1s;
 }

section, #header-banner, footer{
	text-align: center;
	color: #0f7a8a;
}

section{ font-family: 'Arimo', sans-serif; }
p{ color: white; }
li{ list-style: none; }
h1, h2{ border-bottom: 5px solid #0f7a8a;}

/* Estilo especifico */

h1#title{
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
}

/* Menu */
nav ul li{
	background-color: #0f7a8a;
	display: inline;
	padding: 8px;
	
}










	





