
/* Estilo geral */
body{
	text-align: justify;
	background-color: #BEBEBE;
	color: white;
}

a{
	text-decoration: none;
}

section, div#header-banner, footer{
	text-align: center;
	color: #0f7a8a;
}


#header-banner p, section#sobre p, section#projetosF p{
	color: white;
}

h1, h2{
	border-bottom: 5px solid #0f7a8a;
}

	





