
/* Estilo geral */
body{
	text-align: justify;
	background-color: #BEBEBE;
	color: white;
}

a{ text-decoration: none; }
p{ color: white; }

h1, h2{
	border-bottom: 5px solid #0f7a8a;
}

section, #header-banner, footer{
	text-align: center;
	color: #0f7a8a;
}




	





