<section id="voluntarios">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="color-green titulos">Participe!</h2><br>

          <form id="add-form" (ngSubmit)="f.form.valid && salvarVoluntario(f)" #f="ngForm" novalidate>
            <div class="form-group row">
                <label for="nome-volunt" class="col-sm-2 col-form-label color-green">Nome:</label>

                  <input type="text" [(ngModel)]="volunt.nome" id="nome-volunt" name="nome-volunt" #nome="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && nome.invalid }" class="form-control" placeholder="Nome Completo">

                <!-- Mensagens de erro: -->
                  <div *ngIf="f.submitted && nome.invalid" class="invalid-feedback">
                    <div *ngIf="nome.errors.required">Nome é obrigatório</div>
                </div>
            </div>

            <!-- Email -->

            <div class="form-group">
                <label for="email-volunt" class="col-sm-2 col-form-label color-green">Email</label>

                  <input type="text" [(ngModel)]="volunt.email" id="email-volunt" name="email-volunt" #email="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Email">


                <!-- Mensagens de erro -->

                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email é obrigatório</div>
                </div>
            </div>

            <!-- Curso -->
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0 color-green">Curso:</legend>
                <div class="col-sm-10">

                  <div class="form-check">
                    <input class="form-check-input" type="radio" [(ngModel)]="volunt.curso" #curso="ngModel" required class="form-check-input" [ngClass]="{ 'is-invalid': f.submitted && curso.invalid }" name="curso" id="sist-comp" value="Ciência da Computação" checked>
                    <label class="form-check-label" for="sist-comp">
                      Ciência da Computação
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" [(ngModel)]="volunt.curso" #curso="ngModel" required class="form-check-input" [ngClass]="{ 'is-invalid': f.submitted && curso.invalid }" name="curso" id="sist-comp" value="Sistemas de Computação">
                    <label class="form-check-label" for="sist-inf">
                      Sistemas de Computação
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" [(ngModel)]="volunt.curso" #curso="ngModel" required class="form-check-input" [ngClass]="{ 'is-invalid': f.submitted && curso.invalid }" name="curso" id="sist-comp" value="Sistemas de Informação">
                    <label class="form-check-label" for="ciencia-comp">
                      Sistemas de Informação
                    </label>
                  </div>



                  <div class="form-check disabled">
                      <!-- entender como funciona o campo outro-->
                  </div>




                </div>
              </div>
            </fieldset>

            <!-- Envio de histórico -->

            <div class="form-group row">
              <label class="col-sm-2 col-form-label color-green">Histórico:</label>
              <div class="col-sm-10">
                <input type="file" id="hist-volunt" required>
              </div>
            </div>

            <!-- Caixa de texto -->
            <div class="form-group">
              <label for="caixatxt" class="col-sm-2 col-form-label color-green">Motivação</label>
              <textarea [(ngModel)]="volunt.motivacao" id="caixatxt" name="caixatxt" #motivacao="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && motivacao.invalid }" class="form-control"></textarea>

              <!-- Mensagens de erro -->
              <div *ngIf="f.submitted && motivacao.invalid" class="invalid-feedback">
                <div *ngIf="motivacao.errors.required">Esse campo é obrigatório</div>
              </div>
            </div>


            <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
          </form>
        </div>
        </div>
        </div>
      </section>


