<section id="voluntarios" class="background-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="color-green">Participe!</h2>
          <p class="lead center text-white">Formulario para cadastrar novos participantes, 
            com os campos: nome, email, curso e a motivação para fazer parte do projeto</p>

            <!-- Form em bootstrap -->
            <form>
              <div class="form-group row">
                <label for="nome-form" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="nome-form" placeholder="Nome">
                </div>
              </div>

              <div class="form-group row">
                <label for="email-form" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email-form" placeholder="Email">
                </div>
              </div>

                <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Qual o seu curso?</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="sist-comp" id="sist-comp" value="sistema-computacao" checked>
                      <label class="form-check-label" for="sist-comp">
                        Sistemas de Computação
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="sist-inf" id="sist-inf" value="sistema-informacao">
                      <label class="form-check-label" for="sist-inf">
                        Sistemas de Informação
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="ciencia-comp" id="ciencia-comp" value="ciencia-computacao">
                      <label class="form-check-label" for="ciencia-comp">
                        Ciência da Computação
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="form-group row">
                <div class="col-sm-2">Checkbox</div>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      Example checkbox
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
              </div>
            </form>











        </div>
      </div>
    </div>
  </section>