<section id="sobre">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">

          <h2 class= "color-green titulos">Sobre o Projeto:</h2>

          <p class="lead center">Solidarize-sw é um projeto realizado por estudantes de tecnologia da Universidade Federal Flumimense (UFF) com o intuito de utilizar ferramentas estudadas durante a sua formação em prol de ações sociais para a sociedade em que vivemos. </p>

        </div>
      </div>
    </div>
  </section>

