<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Projetos</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de projetos</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Descrição</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proj of projs">
              <td>{{proj.id}}</td>
              <td>{{proj.nome}}</td>
              <td>{{proj.email}}</td>
              <td>{{proj.descricao}}</td>
              <td>{{proj.status}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editProj(proj)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteProj(proj)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>

    <!-- Formulario para a atualização de projetos -->
    <section id="cadastro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">

            <h2 class= "color-green titulos">Cadastro de Projetos:</h2><br><br>

            <form (ngSubmit)="f.form.valid && salvarProjeto(f)" #f="ngForm" novalidate>

              <div class="form-group row">
                <label for="nome-proj" class="col-sm-2 col-form-label color-green">Nome do Projeto:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" minlength="3" maxlength="60" [(ngModel)]="proj.nome" #nome="ngModel" required class="form-control" id="nome-proj" name="nome-proj" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Nome do Projeto" required>
                </div>

                <!-- Mensagens de erro -->
                <div *ngIf="f.submitted && nome.invalid" class="invalid-feedback">
                  <div *ngIf="nome.errors.required">Nome do Projeto é obrigatorio</div>
                  <div *ngIf="nome.errors.minlength">Nome do Projeto deve ter no mínimo 3 letras</div>
                  <div *ngIf="nome.errors.maxlength">Nome do Projeto deve ter no máximo 60 letras</div>
                </div>

              </div>

              <div class="form-group row">
                <label for="email-proj" class="col-sm-2 col-form-label color-green">Email:</label>
                <div class="col-sm-10">
                  <input type="email" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)" [(ngModel)]="proj.email" #email="ngModel" class="form-control" id="email-proj" name="email-proj" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Email" required>
                </div>

                <!-- Mensagens de erro -->
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Email é obrigatório</div>
                  <div *ngIf="email.errors.pattern">Digite um email válido</div>
                </div>
              </div>

              <!-- Caixa de texto -->
              <div class="form-group row">
                <label for="caixatxt-proj" class="col-sm-2 col-form-label color-green">Descrição:</label>
                <div class="col-sm-10">
                  <textarea id="caixatxt-proj" [(ngModel)]="proj.descricao" #descricao="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }" name="caixatxt-proj" class="md-textarea form-control" rows="3" required  placeholder="Breve descrição sobre o projeto"></textarea>
                </div>

                <!-- Mensagens de erro -->
                <div *ngIf="f.submitted && descricao.invalid" class="invalid-feedback">
                  <div *ngIf="descricao.errors.required">Esse campo é obrigatório</div>
                </div>
              </div>

              <!-- Botão -->
              <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Enviar</button>

          </form>
          </div>
        </div>
      </div>
    </section>



  </div>
