/* You can add global styles to this file, and also import other style files */

.background-gray{
    background-color: #a6a6a6;
}

.center{
    text-align: center;
}

.color-green, .titulos{
    color: #0f7a8a;
    font-weight: bolder;
}

.titulos{
    text-align: center;
    border-bottom: 5px #0f7a8a solid;
}